@use "./base.scss";

// put your custom CSS here!
:root[saved-theme="dark"] {
  --background-primary: #242424 !important;
  --background-primary-alt: #444444 !important;
  --background-secondary: #333333 !important;
  --background-secondary-alt: #000000 !important;
  --background-accent: #000 !important;
  --background-modifier-border: #565656 !important;
  --background-modifier-form-field: rgba(0, 0, 0, 0.3) !important;
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22) !important;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3) !important;
  --background-modifier-success: #539126 !important;
  --background-modifier-error: #9b4343 !important;
  --background-modifier-error-rgb: 155, 67, 67 !important;
  --background-modifier-error-hover: #470000 !important;
  --background-modifier-cover: rgba(0, 0, 0, 0.6) !important;
  --text-accent: #53aaf5 !important;
  --text-accent-hover: #3e8de7 !important;
  --text-normal: #d1d1d1 !important;
  --text-muted: #8a8a8a !important;
  --text-faint: rgb(121, 121, 121) !important;
  --accent-strong: #ffffff !important;
  --text-error: #e16d76 !important;
  --text-error-hover: #c9626a !important;
  --text-highlight-bg: #e481007c !important;
  --text-selection: #47a5914d !important;
  --text-on-accent: #dcddde !important;
  --interactive-normal: #20242b !important;
  --interactive-hover: #353b47 !important;
  --interactive-accent: #3187d3 !important;
  --interactive-accent-rgb: 45, 135, 211 !important;
  --interactive-accent-hover: #3e8de7 !important;
  --panel-border-color: #18191e !important;
  --search-text: #e0e0e0 !important;
  --folder-title: #ffffff !important;
  --mark-highlight: #e481007c !important;
  --background-search-result: #444444 !important;
  --gray-1: #5c6370 !important;
  --gray-2: #abb2bf !important;
  --red: #e06c75 !important;
  --red-1: #d05a63 !important;
  --orange: #d19a66 !important;
  --green: #b6e296 !important;
  --darkgreen: #399a58 !important;
  --aqua: #56b6c2 !important;
  --purple: #c678dd !important;
  --blue: #9dcffc !important;
  --darkblue: #4889df !important;
  --yellow: #e4ba6c !important;
  --light-yellow: #dfda91 !important;
  --embed-color: #5c67996c !important;
  --search-result-file-title-color: #96b7e4 !important;
  --theme-color: #3187d3 !important;
  --theme-color-translucent: #3187d388 !important;
  --theme-color-translucent-1: #1982dd2c !important;
  --color-specification: #3ce252 !important;
  --allow-1: #d18828 !important;
  --background-blockquote-dark: #d3d3d31c !important;
  --list-ul-block-color: #e19742a9 !important;
  --list-ul-disc-color: #db6019 !important;
  --list-ul-hover: #e28915de !important;
  --list-ol-block-color: #2685bbb4 !important;
  --list-ol-number-color: #95afc4 !important;
  --list-ol-hover: #2c7bd6 !important;
  --stag1: #cf0000 !important;
  --stag2: #cf7c00 !important;
  --stag3: #00a71c !important;
  --tag1: #f37575bb !important;
  --tag2: #d39461bb !important;
  --tag3: #c7cc37bb !important;
  --tag4: #8fd389bb !important;
  --tag5: #5ccbcfbb !important;
  --tag6: #5b94d6bb !important;
  --tag7: #9859e0bb !important;
  --tag8: #cd64d6bb !important;
  --tag9: #b3b3b3bb !important;
  --h1-color: #92c237 !important;
  --h2-color: #37bd32 !important;
  --h3-color: #2dc1c1 !important;
  --h4-color: #4495ff !important;
  --h5-color: #ad9fff !important;
  --h6-color: #ca8bee !important;
  --h1-color: #4ea0e2 !important;
  --h2-color: #35d13dd3 !important;
  --h3-color: #dfd111e1 !important;
  --h4-color: #f1a634d0 !important;
  --h5-color: #f15959d0 !important;
  --h6-color: #d06af0d0 !important;
  --graph-text-color: #b5b5b5 !important;
  --graph-attach: #4ad43eb2 !important;
  --graph-circle: #99b4d8b2 !important;
  --graph-line: #646464 !important;
  --graphtag: #88d842bb !important;
  --graph-attach: #b2cfe0bb !important;
  --graph-circle: #55a2d6bb !important;
  --graph-line: #646464 !important;
  --graph-unresolved: #f08080de !important;
  --graph-arrow: #c23917 !important;
  --mermaid-active-task-color: #187ef1 !important;
  --mermaid-seq-dia-color: #1371be !important;
  --table-background-color: #8a8a8a3b !important;
  --table-background-color-odd: transparent !important;
  --table-border-color: #c0c0c0 !important;
  --table-thead-background-color: #74aef07a !important;
  --table-hover-raw-color: #3187d33d !important;
  --table-hover-color: #3187d388 !important;
  --table-hover-thead-color: #6fa084 !important;
  --calendar-week-color: #a2df94 !important;
  --calendar-week-hover: #61815c !important;
  --calendar-week-background-color: #4a5842 !important;
  --day-planner-pie: #f19c1c !important;
  --day-planner-timeline: #000000 !important;
  --day-planner-line: #dfcf77 !important;
  --day-planner-dot: #dfcf77 !important;
  --day-planner-item-hover: #053c85 !important;
  --event-item-color1: #283493bb !important;
  --event-item-color2: #1565c0bb !important;
  --event-item-color3: #00838fbb !important;
  --event-item-color4: #2e7d32bb !important;
  --event-item-color5: #9e9d24bb !important;
  --event-item-color6: #ff8f00bb !important;
  --event-item-color7: #d84315bb !important;
  --event-item-color8: #c62828bb !important;
  --event-item-color9: #ad1457bb !important;
  --event-item-color10: #6a1b9abb !important;
  --text-gray: #acacac !important;
  --text-brown: #be9684 !important;
  --text-orange: #ffa344 !important;
  --text-yellow: #ffdc51 !important;
  --text-green: #52c7b2 !important;
  --text-blue: #8ca1ff !important;
  --text-purple: #b386f1 !important;
  --text-pink: #ff6bba !important;
  --text-red: #ff4f4f !important;
  --background-gray: #535353 !important;
  --background-brown: #493a3a !important;
  --background-orange: #53422f !important;
  --background-yellow: #585536 !important;
  --background-green: #32503e !important;
  --background-blue: #2f5264 !important;
  --background-purple: #443f57 !important;
  --background-pink: #533b4a !important;
  --background-red: #683c3c !important;
  --note-important: #d64545 !important;
  --note-cloze: #ffffff !important;
  --stickies-color-1: #84c584 !important;
  --stickies-color-2: #c7a3cf !important;
  --tape-color: #99999967 !important;
  --header-color: #f1a634d0 !important;
  --background-primary: #212121 !important;
  --background-primary-alt: #f937590d !important;
  --background-secondary: #242424 !important;
  --background-secondary-alt: #191919 !important;
  --background-accent: #e4ba6c !important;
  --background-modifier-border: #191919 !important;
  --background-modifier-form-field: #f39ba0 !important;
  --background-modifier-form-field-highlighted: #e5c7a9 !important;
  --background-modifier-box-shadow: #292929 !important;
  --background-modifier-success: #f93759 !important;
  --background-modifier-error: #f93759 !important;
  --background-modifier-error-rgb: #f93759 !important;
  --background-modifier-error-hover: #f93758 !important;
  --background-modifier-cover: rgba(0, 0, 0, 0.3) !important;
  --text-accent: #ffccbc !important;
  --text-accent-hover: #f93759 !important;
  --text-normal: #efe9d9 !important;
  --text-muted: #efe9d9 !important;
  --text-faint: #efe9d9 !important;
  --accent-strong: #efe9d9 !important;
  --text-em-color: #f93759 !important;
  --text-error: #f93759 !important;
  --text-error-hover: #f93759 !important;
  --text-highlight-bg: #f39ba0 !important;
  --text-selection: #e5c7a94a !important;
  --text-on-accent: #ffffff !important;
  --interactive-normal: #f39ba0 !important;
  --interactive-hover: #ffccbc !important;
  --interactive-accent: #f39ba0 !important;
  --interactive-accent-rgb: 45, 135, 211 !important;
  --interactive-accent-hover: #f93759 !important;
  --panel-border-color: #f93759 !important;
  --search-text: #fff !important;
  --folder-title: #fff !important;
  --mark-highlight: #f93759 !important;
  --background-search-result: #292929 !important;
  --gray-1: #c9b0b0 !important;
  --gray-2: #b4b1c6 !important;
  --red: #ff9090 !important;
  --red-1: #f93759 !important;
  --orange: #f28d61 !important;
  --green: #00ffc7 !important;
  --darkgreen: #1bbc9b !important;
  --aqua: #30daff !important;
  --purple: #b073ff !important;
  --blue: #00a3b9 !important;
  --darkblue: #0040ff !important;
  --yellow: #fcdc00 !important;
  --light-yellow: #ffd26c !important;
  --embed-color: #2929297d !important;
  --search-result-file-title-color: #f39ba0 !important;
  --theme-color: #ffccbc !important;
  --theme-color-translucent: #f39ba0 !important;
  --theme-color-translucent-1: #f39ba0 !important;
  --color-specification: #f93759 !important;
  --allow-1: #f93759 !important;
  --background-blockquote-dark: #292929 !important;
  --list-ul-block-color: #f39ba0 !important;
  --list-ul-disc-color: #f93759 !important;
  --list-ul-hover: #ffebec !important;
  --list-ol-block-color: #f39ba0 !important;
  --list-ol-number-color: #ffccbc !important;
  --list-ol-hover: #ffebec !important;
  --stag1: #f39ba0 !important;
  --stag2: #ffccbc !important;
  --stag3: #ffebec !important;
  --tag1: #028588 !important;
  --tag2: #40916c !important;
  --tag3: #69a2ee !important;
  --tag4: #c47a5e !important;
  --tag5: #004f2d !important;
  --tag6: #f5a7a2 !important;
  --tag7: #f19c79 !important;
  --tag8: #02a588 !important;
  --tag9: #ab4967 !important;
  --h1-color: #ffccbc !important;
  --h2-color: #ffccbc !important;
  --h3-color: #ffccbc !important;
  --h4-color: #ffccbc !important;
  --h5-color: #ffccbc !important;
  --h6-color: #ffccbc !important;
  --graph-text-color: #efe9d9 !important;
  --graphtag: #f39ba0 !important;
  --graph-attach: #ffebec !important;
  --graph-circle: #f39ba0 !important;
  --graph-line: #ffc3bc !important;
  --graph-unresolved: #ffccbc !important;
  --graph-arrow: #ffc3bc !important;
  --mermaid-active-task-color: #f39ba4 !important;
  --mermaid-seq-dia-color: #ffebec !important;
  --table-background-color: #212121 !important;
  --table-background-color-odd: transparent !important;
  --table-border-color: #ffebec !important;
  --table-thead-background-color: #f39ba0ad !important;
  --table-hover-raw-color: #292929 !important;
  --table-hover-color: #ffccbc0a !important;
  --table-hover-thead-color: #f39ba0 !important;
  --calendar-week-color: #ffccbc !important;
  --calendar-week-hover: #f39ba0 !important;
  --calendar-week-background-color: transparent !important;
  --day-planner-pie: #ffccbc !important;
  --day-planner-timeline: #ff9b7c !important;
  --day-planner-line: #f39ba0 !important;
  --day-planner-dot: #ffebec !important;
  --day-planner-item-hover: #f39ba0 !important;
  --event-item-color9: #ffc3bc !important;
  --event-item-color8: #ffbcbc !important;
  --event-item-color10: #ffccbc !important;
  --event-item-color7: #ffbcc4 !important;
  --event-item-color6: #ffbcbc !important;
  --event-item-color5: #ffc3bc !important;
  --event-item-color4: #ffccbc !important;
  --event-item-color3: #ffd4bc !important;
  --event-item-color2: #ffdcbc !important;
  --event-item-color1: #ffe4bc !important;
  --text-gray: #acacac !important;
  --text-brown: #be9684 !important;
  --text-orange: #ffa344 !important;
  --text-yellow: #ffdc51 !important;
  --text-green: #52c7b2 !important;
  --text-blue: #8ca1ff !important;
  --text-purple: #b386f1 !important;
  --text-pink: #ff6bba !important;
  --text-red: #ff4f4f !important;
  --background-gray: #535353 !important;
  --background-brown: #493a3a !important;
  --background-orange: #53422f !important;
  --background-yellow: #585536 !important;
  --background-green: #32503e !important;
  --background-blue: #2f5264 !important;
  --background-purple: #443f57 !important;
  --background-pink: #533b4a !important;
  --background-red: #683c3c !important;
  --note-important: #f93759 !important;
  --note-cloze: #f93759 !important;
  --stickies-color-1: #f39ba0 !important;
  --stickies-color-2: #ffebec !important;
  --tape-color: #ffccbc47 !important;
  --header-color: #f39ba0 !important;
}
